## Dictionary

   - Dictionary stores element as keys and value pairs
   - The key is like an index, its always unique & immutable
   - The values are the objects that contain information
   - Values are accessed using their keys
   - Each key is followed by a value separated by a colon
   - The values can be immutable, mutable, & duplicates
   - Each key and value pair is separated by a comma enclosed inside curly brackets

In [2]:
# Creating a dictionary

d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD","Canada":"CD"}
# Accessing value using keys

print(d1["Canada"] + " has surpassed " + d1["USA"])

CD has surpassed USD

In [3]:
# Replacing the value for a key in a dictionary

d1["Canada"] = "NEW"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HKD', 'Canada': 'NEW'}

In [4]:
d1["Japan"] = "YEN"

In [5]:
d1

{'India': 'INR',
 'USA': 'USD',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN'}

In [6]:
# Inserting a new key-value pair

d1["Thai"] = "bhatt"

d1

{'India': 'INR',
 'USA': 'USD',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN',
 'Thai': 'bhatt'}

In [7]:
d1

{'India': 'INR',
 'USA': 'USD',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN',
 'Thai': 'bhatt'}

In [8]:
# Deleting a key value pair

del d1["USA"]

d1

{'India': 'INR',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN',
 'Thai': 'bhatt'}

In [11]:
sorted(d1)

['Canada', 'Hong Kong', 'India', 'Japan', 'Thai']

In [98]:
# Sorting a dictionary

sorted(d1.values())

['$', 'HKD', 'NEW', 'Rupee', 'YEN', 'bhatt']

In [14]:
d1["India"] = "Rupee"

In [16]:
d1

{'India': 'Rupee',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN',
 'Thai': 'bhatt'}

In [17]:
# values() method

d1.values()

dict_values(['Rupee', 'HKD', 'NEW', 'YEN', 'bhatt'])

In [18]:
# keys() method

d1.keys()

dict_keys(['India', 'Hong Kong', 'Canada', 'Japan', 'Thai'])

In [19]:
# get() method

d1.get('India')

d1['India']

'Rupee'

In [21]:
# update() method

d1.update({"USA": "$"})

d1

{'India': 'Rupee',
 'Hong Kong': 'HKD',
 'Canada': 'NEW',
 'Japan': 'YEN',
 'Thai': 'bhatt',
 'USA': '$'}

#### Practice Codes

##### Question 1
##### Description
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).

Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Sample output:

'Product Lead'

Note: Assume that employee data would be available in the data provided to you

In [25]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [26]:
type(Employee_data)

dict

In [27]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [28]:
type(Employee_data.get(104))

list

In [29]:
print(Employee_data.get(104)[2])

Product Lead

In [25]:
list_2 = Employee_data.get(104)

In [26]:
list_2[2]

'Product Lead'

In [52]:
Employee_data.get(104)[2]

'Product Lead'

In [27]:
Employee_data.get(102)[1]

25

In [53]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Employee_data.get(104)[2]

'Product Lead'

##### Question 2

Suppose dict_1 = {"Python'':40, "R'':45}. What command should be used to delete the entry "R"?

In [30]:
dict_1 = {"Python":40, "R":45}

In [31]:
del dict_1["R"]

In [32]:
dict_1

{'Python': 40}

##### Question 3

d = {'Python':40, 'R':45}

print(list(d.keys()))

In [58]:
d = {'Python':40, 'R':45}


print(list(d.keys()))

['Python', 'R']

##### Question 4

##### Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key based on user input which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [85]:
dict1={'Name': 'Monty', 'Profession': 'Singer' }

In [92]:
x=input('enter key to obtain the value')
y=x.title()
if y in dict1:
    print("value of {} is {}".format(y,dict1[y]))
else:
    print('NA')

enter key to obtain the value kal

NA

##### Question 5

- List of Values in a Dictionary.

##### Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [94]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [95]:
sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [96]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

new_list = input_dict.keys()

sorted(new_list)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']