## Map, Reduce & Filter

#### Area of a circle

In [5]:
import math

def area(r):
    return math.pi*(r**2)

radii = [1,2,3,4,5]

areas = []

for r in radii:
    a = area(r)
    areas.append(a)

In [6]:
print(areas)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

#### map(f,iterable object)

In [7]:
math.pi

3.141592653589793

In [8]:
map(area, radii)

In [12]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [13]:
def sq_area(l):
    return l*l

In [14]:
l=[5,4,8,7,2]

In [16]:
list(map(sq_area,l))

[25, 16, 64, 49, 4]

#### Convert Celcius scale to Farheneit 

#### F = 9/5*C + 32

In [17]:
temps = [("Mumbai", 35), ("Berlin", 12), ("Tokyo", 25), ("Hong Kong", 31), ("Sydney", 30), ("Abu Dhabi", 35)]

In [18]:
cel_to_f = lambda data:(data[0], (9/5)*data[1]+32)

In [19]:
list(map(cel_to_f, temps))

[('Mumbai', 95.0),
 ('Berlin', 53.6),
 ('Tokyo', 77.0),
 ('Hong Kong', 87.80000000000001),
 ('Sydney', 86.0),
 ('Abu Dhabi', 95.0)]

In [42]:
student_dict ={'sachin':[('english',7),('maths',8),('science',9),('social',6)],'kalyan':[('english',6),('maths',8),('science',9),('social',7)],'Dheeraj':[('english',7),('maths',8),('science',9),('social',8)]}

In [43]:
type(student_dict)

dict

In [47]:
grade_fact = lambda x,y : "{} passed in distinction".format(x) if y[0][1]>=7 and y[1][1]>=7 and y[2][1]>=7 and y[3][1]>=7 else "{} has Not passed in Distinction".format(x)

In [48]:
list(map(grade_fact,student_dict.keys(),student_dict.values()))

['sachin has Not passed in Distinction',
 'kalyan has Not passed in Distinction',
 'Dheeraj passed in distinction']

#### Filter Function - filters out the data 
#### filter(f, data)

In [49]:
import statistics

data = [1,2,3,4,5,6,7,8,9,10]

In [50]:
avg = statistics.mean(data)
print(avg)

5.5

In [51]:
filtereddata = filter(lambda x:x<avg, data)

In [52]:
list(filter(lambda x:x>avg, data))

[6, 7, 8, 9, 10]

In [53]:
list(filtereddata)

[1, 2, 3, 4, 5]

In [55]:
name = ["Ravi", "Shyam", "Ram", 0, 0.0, "", "Kuber"]

In [58]:
filter(None, name)

In [59]:
list(filter(None, name))

['Ravi', 'Shyam', 'Ram', 'Kuber']

In [60]:
number = [12, 15, 20, 0, 0.0]

In [61]:
list(filter(None, number))

[12, 15, 20]

In [62]:
floater = [5.0,8.0,7.0,2,8,1,20]

In [63]:
list(filter(None, floater))

[5.0, 8.0, 7.0, 2, 8, 1, 20]

#### Reduce Function
#### reduce(f, data)

In [65]:
from functools import reduce

In [66]:
#Multiply all the items in a list

data = [1,2,3,4,5]


multiplier = lambda x,y: x*y
reduce(multiplier, data)

'''
val1 = 1*2
val2 = val1*3 = 2*3=6
val3 = val2*4 =6*4=24
val4 = val3*5 =24*5=120
return val4
'''

'\nval1 = 1*2\nval2 = val1*3 = 2*3=6\nval3 = val2*4 =6*4=24\nval4 = val3*5 =24*5=120\nreturn val4\n'

In [67]:
reduce(multiplier, data)

120

In [68]:
product = 1

for d in data:
    product = product * d
product

120